spring:
  profiles:
    include: secret
  datasource:
    url:  ${DB_URL:jdbc:mysql://localhost:3306/cropkeeper?zeroDateTimeBehavior=convertToNull}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE:5MB}
      max-request-size: ${MAX_REQUEST_SIZE:20MB}
      enabled: true


logging.level:
  org.hibernate.SQL: debug

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time:  ${JWT_EXPIRATION_TIME:3600000}

file:
  upload:
    path: ${FILE_UPLOAD_PATH:uploads/}